.register {
    border: .0625rem solid red;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.container {
    max-width: 380px;
    margin: 0 auto;
}

