@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: #333;
  background: #c9c8c8;
  font-family: Arial, Helvetica, sans-serif;
}
