@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #598f17;
  --secondary: #fe1859;
}

body {
  color: #333;
  background: #d6d6d6;
  font-family: 'Arial', Helvetica, sans-serif;
}

.pattern-green {
  background-image: url("/img/side_back.gif");
  background-repeat: repeat-y;
}
.pattern-header {
  background-image: url("/img/head_b1.gif");
  background-repeat: repeat-x;
}